<?xml version="1.0" encoding="utf-8"?>
<!-- Added as workaround for https://github.com/android/android-test/issues/1412 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dangerfield.mifflin.test">

    <application>
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity"
            android:exported="true"
            tools:node="merge">
            <intent-filter tools:node="removeAll" />
        </activity>
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity"
            android:exported="true"
            tools:node="merge">
            <intent-filter tools:node="removeAll" />
        </activity>

    </application>
</manifest>
