<?xml version="1.0"?><!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "http://checkstyle.sourceforge.net/dtds/configuration_1_3.dtd">

<module name="Checker">
    <module name="SuppressWarningsFilter" />
    <module name="SuppressionFilter">
        <property name="file" value="${config_loc}/checkstyle-suppression.xml" />
    </module>

    <module name="NewlineAtEndOfFile" />
    <module name="FileLength" />
    <module name="FileTabCharacter" />

    <!-- Trailing spaces -->
    <module name="RegexpSingleline">
        <property name="format" value="\b[ ]+$" />
        <property name="message" value="Line has trailing spaces." />
    </module>

    <!-- Space after 'for' and 'if' -->
    <module name="RegexpSingleline">
        <property name="format" value="^\s*(for|if)[^ ]\(" />
        <property name="message" value="Space needed before opening parenthesis." />
    </module>

    <!-- For each spacing -->
    <module name="RegexpSingleline">
        <property name="format" value="^\s*for \(.*?([^ ]:|:[^ ])" />
        <property name="message" value="Space needed around ':' character." />
    </module>

    <!-- More than one blank line -->
    <!--module name="RegexpMultiline">
        <property name="format" value="\n\n\n" />
        <property name="message" value="Double blank lines." />
    </module-->

    <module name="TreeWalker">
        <property name="tabWidth" value="4" />
        <module name="SuppressWarningsHolder" />

        <!-- Checks for Javadoc comments -->
        <!-- See http://checkstyle.sf.net/config_javadoc.html -->
        <!--module name="JavadocMethod" />
            <property name="logLoadErrors" value="true" />
            <property name="suppressLoadErrors" value="true" />
        </module>
        <module name="JavadocType" />
            <property name="scope" value="public" />
        </module-->
        <module name="JavadocStyle">
            <!-- We don't care that every sentence ends with punctuation -->
            <property name="checkFirstSentence" value="false" />
        </module>
        <!--module name="JavadocVariable"/-->
        <!--module name="JavadocPackage"/-->

        <!-- Checks for Naming Conventions -->
        <!-- See http://checkstyle.sf.net/config_naming.html -->
        <module name="ConstantName" />
        <module name="LocalFinalVariableName" />
        <module name="LocalVariableName" />
        <module name="MemberName" />
        <module name="MethodName">
            <property name="format" value="^[a-z][a-zA-Z0-9_]*$" />
        </module>
        <module name="PackageName" />
        <module name="ParameterName" />
        <module name="StaticVariableName" />
        <module name="TypeName" />

        <!-- Checks for imports -->
        <!-- See http://checkstyle.sf.net/config_import.html -->
        <module name="AvoidStarImport">
            <!-- Allow Nielsen Constants allowed b/c it's a bunch of Strings that would be a pain to import one at a time.
                 Allow Kotlin synthetics so each viewId isn't a single import, only the layout file. -->
            <property name="excludes" value="com.hulu.metrics.nielsen.NielsenConstants" />
        </module>
        <!--module name="AvoidStaticImport"/-->
        <module name="IllegalImport" />
        <module name="RedundantImport" />
        <module name="UnusedImports">
            <property name="processJavadoc" value="true" />
        </module>

        <!-- Checks for Size Violations -->
        <!-- See http://checkstyle.sf.net/config_sizes.html -->
        <!--module name="LineLength">
            <property name="max" value="150" /> <!- Our standard is 120, but we allow for some flexibility here ->
            <property name="ignorePattern" value="^(package|import) .+?;$" />
        </module-->
        <module name="MethodLength">
            <property name="max" value="200" />
        </module>

        <!-- Checks for whitespace -->
        <!-- See http://checkstyle.sf.net/config_whitespace.html -->
        <module name="GenericWhitespace" />
        <module name="EmptyForIteratorPad" />
        <module name="MethodParamPad" />
        <module name="NoWhitespaceAfter">
            <property name="tokens" value="BNOT, DEC, DOT, INC, LNOT, UNARY_MINUS, UNARY_PLUS" />
        </module>
        <module name="NoWhitespaceBefore" />
        <!--module name="OperatorWrap" /> Disabled since our auto-generation of toString() puts + on the same line -->
        <module name="ParenPad" />
        <module name="TypecastParenPad" />
        <module name="WhitespaceAfter" />
        <module name="WhitespaceAround">
            <property name="allowEmptyMethods" value="true" />
            <property name="allowEmptyTypes" value="true" />
        </module>

        <!-- Modifier Checks -->
        <!-- See http://checkstyle.sf.net/config_modifiers.html -->
        <module name="ModifierOrder" />
        <module name="RedundantModifier" />

        <!-- Checks for blocks -->
        <!-- See http://checkstyle.sf.net/config_blocks.html -->
        <module name="AvoidNestedBlocks" />
        <module name="EmptyBlock" />
        <module name="LeftCurly" />
        <module name="NeedBraces">
            <property name="tokens" value="LITERAL_DO, LITERAL_ELSE, LITERAL_FOR, LITERAL_WHILE" />
            <property name="allowSingleLineStatement" value="true" />
        </module>
        <module name="NeedBraces">
            <property name="tokens" value="LITERAL_IF" />
            <property name="allowSingleLineStatement" value="true" />
        </module>
        <module name="RightCurly" />

        <!-- Checks for common coding problems -->
        <!-- See http://checkstyle.sf.net/config_coding.html -->
        <!--module name="AvoidInlineConditionals"/-->
        <module name="CovariantEquals" />
        <module name="EmptyStatement" />
        <!--module name="EqualsAvoidNull"/-->
        <module name="EqualsHashCode" />
        <!--module name="HiddenField"/-->
        <module name="IllegalInstantiation" />
        <module name="InnerAssignment" />
        <!--module name="MagicNumber"/-->
        <module name="MissingSwitchDefault" />
        <!--module name="RedundantThrows"/-->
        <module name="SimplifyBooleanExpression" />
        <module name="SimplifyBooleanReturn" />
        <module name="NoFinalizer" />
        <module name="DefaultComesLast" />

        <!-- Checks for class design -->
        <!-- See http://checkstyle.sf.net/config_design.html -->
        <!--module name="DesignForExtension"/-->
        <!--module name="FinalClass"/-->
        <module name="HideUtilityClassConstructor" />
        <module name="InterfaceIsType" />

        <!-- Miscellaneous Checks -->
        <!-- See http://checkstyle.sf.net/config_misc.html -->
        <module name="ArrayTypeStyle" />
        <!--module name="FinalParameters"/-->
        <module name="TodoComment">
            <!-- Ignore to-do comments that include internal Jira ticket numbers -->
            <property name="format" value="\bTODO\b((?!DROID-\S).)*$" />
            <!-- Ignore to-do comments that include one player ticket number -->
            <property name="format" value="\bTODO\b((?!CPP-\S).)*$" />
        </module>
        <module name="UpperEll" />

    </module>

</module>
